# From Usb.apk code
#    public static final int USB_MODE_NGP = 0;
#    public static final int USB_MODE_MTP = 1;
#    public static final int USB_MODE_MSC = 2;
#    public static final int USB_MODE_RNDIS = 3;
#    public static final int USB_MODE_MODEM = 4;
#    public static final int USB_MODE_NONE = 5;

on property:sys.usb.config=none
    exec /system/bin/start usb_switch:5
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=adb
    exec /system/bin/start usb_switch:5
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    exec /system/bin/start usb_switch:2
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    exec /system/bin/start usb_switch:2
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    exec /system/bin/start usb_switch:3
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    exec /system/bin/start usb_switch:3
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp
    exec /system/bin/start usb_switch:1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp,adb
    exec /system/bin/start usb_switch:1
    start adbd
    setprop sys.usb.state $sys.usb.config

service usb_switch /system/bin/usb_switch.sh
    disabled
    oneshot
