<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cyanogenmod.settings.device"
    android:sharedUserId="android.uid.system"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_settings"
            android:theme="@android:style/Theme.Holo">

        <activity
            android:label="@string/app_name"
            android:name=".DeviceSettings" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="com.cyanogenmod.action.LAUNCH_DEVICE_SETTINGS" />
            </intent-filter>
        </activity>
        <receiver android:name=".OlympusReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_DIGITAL_AUDIO" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_ANALOG_AUDIO" />
                <action android:name="com.cyanogenmod.dockaudio.ENABLE_SPEAKER_AUDIO" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>
